<div class="shop-edit-container">
  <div class="row">
    <div class="col-xs-12">
      <form class="p-10">
        <div class="row p-10">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="itemName"
              class="form-control"
              [(ngModel)]="itemName"
            />
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              name="itemAmount"
              class="form-control"
              [(ngModel)]="itemAmount"
            />
          </div>
        </div>
        <div class="row p-10">
          <div class="col-xs-12">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-success"
                type="submit"
                (click)="shoppingItemAdded()"
              >
                Add
              </button>
              <button type="button" class="btn btn-danger" type="button" (click)="deleteItems()">
                Delete
              </button>
              <button type="button" class="btn btn-primary" type="button" (click)="clearInputs()">
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
